@use "./variables" as *;
@use "./functions" as *;
@use "./mixins" as *;

html {
  // 1rem = 60分割のグリッドとする処理
  // calc(100vw / 60)
  // pc,sp共通
  font-size: 1.6667vw;
}

body {
  overflow-x: clip;
  font-family: $noto-sans;
  line-height: 1.8;
  letter-spacing: 0;

  @include sp() {
    font-size: vw_sp(13);
  }
}

img {
  width: 100%;
  height: auto;
}

svg {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
