@use "../base/variables" as *;
@use "../base/functions" as *;
@use "../base/mixins" as *;

.header__logo {
  @include sp() {
    width: vw_sp(210);
  }

  img {
    width: 100%;
    height: auto;
  }
}
